In [1]:
# Basic importing
from IPython.core.display import display, HTML
import pandas as pd
import pickle

import ghostPii as gp

/tmp/ipykernel_52015/3247078312.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML
/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
#open a connection to the API using your credentials

headers = {'Authorization': 'Token 3732725eeb3f1345974479d2479d0202a17ecf88'}
myContext = gp.CryptoContext(headers)

In [76]:
data = pd.read_csv('demo_data/rldata500.csv')[0:61]
data

    fname_c1    lname_c1    by  bm  bd  uniqueID
0    CARSTEN       MEIER  1949   7  22        34
1       GERD       BAUER  1968   7  27        51
2     ROBERT    HARTMANN  1930   4  30       115
3     STEFAN       WOLFF  1957   9   2       189
4       RALF     KRUEGER  1966   1  13        72
..       ...         ...   ...  ..  ..       ...
56     PETER  ZIMMERMANN  1996   2  10       202
57    MARTIN    HERRMANN  1944   8  13        82
58     FRANK     MUELLDR  1978   5  20       174
59     BERND        JUNG  1935   1  14       177
60  THORSTEN       FUCHS  1952   9  27       126

[61 rows x 6 columns]

In [77]:
encryptedData = gp.NormCipherFrame(myContext,data)
encryptedData.frame_of_ciphertext()

,0,1,2,3,4,5
0,"l&!;&!:5!,'!96!w6!""7!Z1!j9!",2#!C8!j1!7+!D'!%1!v8!V2!e-!<1!,)J!,Z2!,U'!,`1!
1,"8&!a2!P3!#""!g8!1'!x+!,9!'&!","L,!C#!40!i9!m1!;5!=#!^3!+&!X.!",tA!,t3!,f(!,l!!
2,"z5!k.!A#!l6!g'!&-!L5!H(!"",!",C*!T*!G.!U:!X9!p8!)-!M2!;5!R9!,uE!,[5!,E-!,-'!
3,"V7!X)!u.!P0!+""!""0!1+!5*!.8!","r4!>&!#)!f.!I(!'6!B9!=4!<.!!""!",hH!,_8!,t1!,35!
4,Q5!T9!]+!p2!J-!:)!Z%!A-!d'!,k.!.:!7-!<#!u0!]9!p*!;0!!9!r-!,*P!,M6!,M8!,1-!
...,...,...,...,...,...,...
56,()!B6!X2!t(!:.!=3!i7!m#![8!,"D9!K2!>1!F""!U7!d7!n:!j)!U.!j%!",_K!,F9!,"6,!",w+!
57,"v2!S9!'*!E&!X#!@'!O(!5,!K3!","5+!5&!T7!'(!3,!w4!s5!.3!%%!!*!",6@!,t9!,S7!,K8!
58,z#!U4!D8!c+!65!D)!P4!t)!h7!,",:!T9!<)!J.!1#!]'!91!^(!q1!N6!",7=!,s&!,;3!,i1!
59,"N2!I6!,#!-8!l8!U(!B8!q3!L!!","l4!W6!++!84!M7!,0!8*!c'!K(!x2!",9C!,v!!,T1!,"""*!"
60,:4!&4!?.!^%!#4!.)!M4!72!r7!,"^2!!,!y.![3!S7!)*!O0!h%!#8!9:!",+D!,P&!,"-,!",7%!

In [78]:
import datetime
def isOlderThan21(encryptedFrame,firstName,lastName):
    #This function finds if a person is older than 21 using secure computation
    
    #First we find if the names given match a record in our encrypted dataframe
    firstNameMatches = encryptedFrame[0].search(firstName)
    if not firstNameMatches:
        raise Exception("This name is not in the dataset")
    
    lastNameMatches = encryptedFrame[1].search(lastName)
    if not lastNameMatches:
        raise Exception("This name is not in the dataset")
    
    fullNameMatch = [value for value in firstNameMatches if value in lastNameMatches]
    
    encryptedMatch = encryptedFrame.vert_slice(fullNameMatch)
    
    #next we encrypt today's date
    today = datetime.date.today().timetuple()
    today = gp.NormCipherQuant(encryptedFrame.apiContext,[today[0],today[1],today[2]],fromPlain=True)
    #we are encrypting these numbers to compare with the differences in date
    enc0 = gp.NormCipherNum(encryptedFrame.apiContext,0,fromPlain=True)
    enc21 = gp.NormCipherNum(encryptedFrame.apiContext,21,fromPlain=True)
    
    yearDiff = today[0] - encryptedMatch[2][0]
    # if the difference in years is greater than 21, clearly they are over 21 years old
    if yearDiff > enc21:
        return True
    elif yearDiff < enc0:
        raise Exception("There is an error with the data. Our records indicate this person has not yet been born.")
    elif yearDiff < enc21:
        return False
    else:
        # Only if the difference between this year and their birth year is exactly 21 do we need more info
        monthDiff = today[1] - encryptedMatch[3][0]
        if monthDiff < enc0:
            return False
        elif monthDiff > enc0:
            return True
        else:
            # If they were born in this month, we need to compare days
            dayDiff = today[2] - encryptedMatch[4][0]
            if dayDiff < enc0:
                return False
            else:
                return True

In [79]:
isOlderThan21(encryptedData,'ALEXANDER','MUELLER')

True

In [80]:
isOlderThan21(encryptedData,'HANS',"SCHAEFER")

False

In [81]:
isOlderThan21(encryptedData,"ANGELA","STEIN")

Exception: There is an error with the data. Our records indicate this person has not yet been born.

In [82]:
## PLAINTEXT TO CHECK ANSWERS
data[15:20]

     fname_c1   lname_c1    by  bm  bd  uniqueID
15     MARTIN  SCHROEDER  1988   2   3        84
16  ALEXANDER    MUELLER  1974   9   9        35
17       HANS   SCHAEFER  2003   6  22        88
18     ANGELA      STEIN  2062   8  30       256
19     STEFAN    MUELLER  1949   8  13        77